
{% extends 'website/base.html' %}

{% load staticfiles %}


{% block title %} 
  {% if query_list %}
    {% for query in query_list %}  
    {{query.title}}
    {% endfor %}
  {% else %}
      No Matched Query
  {% endif %}  
{% endblock %}
{% block style %}
  <script type="text/javascript" src="{% static 'js/make_chart.js' %}"></script>
  <script type="text/javascript" src="{% static 'Highcharts-4.0.3/js/highcharts.js' %}"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
{% endblock %}
          
{% block links %}
  <li><a href="{% url 'website:home' %}">Home</a></li>
  <li><a href="/admin/">Admin</a></li>
  <li class="active"><a href="/admin/website/query/{% with query_list|first as first_query %}{{ first_query.id }}{% endwith %}">Edit</a></li>
  <li><a href="{% url 'website:query_interactive' %}">Interactive Mode</a></li>
{% endblock %}

{% block main %}
<div id='sortable'>
<script>
  make_favorites('{% url 'favs:add' %}','{% url 'favs:remove' %}');
</script>  
<script>
jQuery.escapeSelector = function(str) {
  return str.replace(/[!"#$%&'()*+,./:;<=>?@\[\\\]^`{|}~]/g, "\\$&");
}
</script>
{% if query_list %}
  {% for query in query_list %}    
    <div class='jumbotron' id='div_{{query.id}}'>
    <h2><a id='{{query.id}}' target_model='website.Query' href='javascript:' class='star {% if query.fav %}favorite{% endif %}'>{{query.fav}}</a>
      {{query.title}}
    </h2>
    

    <div class='hide_{{query.id}}'>
    <div id='div_table_{{query.id}}'></div>
    
    <div id="waiting_{{query.id}}"><img src='{% static 'ajax-loader.gif' %}'>
    </div>
    <div id="error_{{query.id}}" class = "alert alert-error alert-block"><pre></pre></div>
    </div>
    <div id ='chart_{{query.id}}'></div>
      <ul class='hide_{{query.id}}'>
        <li><a href="/admin/website/query/{{ query.id }}">Edit</a></li>
        <li><a href="mailto:{{query.owner.email}}">{{query.owner}}</a></li>
        <li>Description Short: {{query.description}}</li>
        {% if query.description_long %}
        <li>Description Long: {{query.description_long}}</li>
        {% endif %}
        <li>Query Text: <div id='sql_{{query.id}}'><pre>{{query.query_text}}</pre>  </div></li>
        <li>Query Creation: {{query.create_time}}</li>
        <li>Query Last Modified: {{query.modified_time}}</li>
        <li>Database: {{query.db}}</li>
      </ul>
      </br>
      <button type="submit" id="toggle_{{query.id}}" class="btn btn-info">Hide</button>
    </div>
    <script>
        $(document).ready(function() {
        $('#toggle_{{query.id}}').click(function() {
        $(".hide_{{query.id}}").toggleClass("hide");
        if ($.trim($(this).text()) === 'Hide') {
          $(this).text('Show');
        } else {
          $(this).text('Hide');
        }
      });
    });
    </script>
    <script>
    $( "#error_{{query.id}}" ).hide();
    $.getJSON('{% url "website:query_api" query.id %}', {{json_get|safe}}, function( json_data ) { //TODO add URL reverse here
      //console.log(json_data);
      //console.log('chart_{{query.id}}');
      $( "#waiting_{{query.id}}" ).empty();
      if (json_data.error == false){
        if ('{{query.hide_table}}' ==  'False') {
          make_table(json_data.data.columns, json_data.data.data, '{{query.id}}');  
        }
        if ('{{query.chart_type}}' != 'None'){
          options = make_chart(json_data.data.columns, json_data.data.data, 'chart_{{query.id}}', '{{query.stacked}}', '{{query.chart_type}}', '{{query.title}}', 'Xaxis Title', 'yAxis Title' ,'{{query.log_scale_y}}',{{query.graph_extra|safe|default:"{}" }});
            var chart = new Highcharts.Chart(options);
          };          
      } else {
        $( "#error_{{query.id}}" ).show();
        $( "#error_{{query.id}} pre" ).text(json_data.data);
      }

    });
    </script>
  {% endfor %}
{% else %}
    <h3 class='label-danger'>No Queries found with that namespace or permission denied.  Are you sure it is there?</h3>
{% endif %}
</div>

{% if replacement_dict %}
  <div class='jumbotron'>
    <form action ='{{request.path}}' method='GET'>
    {% for key, default_dict in replacement_dict.items %}
      {%if default_dict.data_type = 'Date' %}
      <h3>Rerun with Parameters </h3>
        {# DATEPICKER #}
          <p> {{default_dict.search_for}} 
          <input type="text" class="" value="{{default_dict.replace_with}}" id="selector_{{default_dict.search_for}}" label="{{default_dict.search_for}}"
          name = "{{default_dict.search_for}}"
          >
          </p>
        <script>
          $(function(){
            $('#selector_' +  $.escapeSelector('{{default_dict.search_for}}')).datepicker({ dateFormat: 'yy-mm-dd' });
          });
        </script>
      {% elif default_dict.data_type == 'Numeric' %}
        {# NUMERIC #}
        <p> {{default_dict.search_for}}
          <input type="range" class="" value="{{default_dict.replace_with}}" min=-1000 max=1000 id="selector_{{default_dict.search_for}}" label="{{default_dict.search_for}}" name = "{{default_dict.search_for}}">
        </p>
      {% else %}
        {# STRING #}
        <p> {{default_dict.search_for}}
          <input type="text" class="" value="{{default_dict.replace_with}}" id="selector_{{default_dict.search_for}}" label="{{default_dict.search_for}}" name = "{{default_dict.search_for}}">
        </p>
      {% endif %}
    {% endfor %}
    <input type="submit" class='btn btn-primary' value="Submit"/>
  </form>
</div>
{% else %}
 No Defaults Found
 {% endif %}
{% endblock %}