[submodule "website/static/Highmaps_rep"]
	path = website/static/Highmaps_rep
	url = https://github.com/highslide-software/highmaps-release
[submodule "website/static/Highcharts_rep"]
	path = website/static/Highcharts_rep
	url = https://github.com/highslide-software/highcharts-release
