[submodule "website/static/Highmaps_rep"]
	path = website/static/Highmaps/
	url = https://github.com/highslide-software/highmaps-release
[submodule "website/static/DataTables"]
	path = website/static/DataTables
	url = https://github.com/DataTables/DataTables
[submodule "website/static/ace-builds"]
	path = website/static/ace-builds
	url = https://github.com/ajaxorg/ace-builds/
[submodule "website/static/Highcharts"]
	path = website/static/Highcharts
	url = https://github.com/highslide-software/highcharts.com
