{% extends "accounts/base.html" %}

{% load crispy_forms_tags %}

{% block title %}
  SQLViz Login
{% endblock %}

{% block content %}
<div class="container">
  <div class="col-md-offset-2 col-md-8">
  {% if user and not user.is_anonymous %}
    <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>How did you get here?  I am not even mad, that was amazing!  Now move along.
      </div>
      <a href="{% url 'website:home' %}">Continue On</a>
  {% else %}
    <div class='well'>
    <form method="post" action="{% url 'accounts:login' %}">
      {% csrf_token %}
      <table>
        {{ form|crispy }}
      </table>
      <input type="submit" class="btn btn-default" value="Login">
      <input type="hidden" name="next" value="{% url 'website:home' %}" />
    </form>
    </div>
    <div class='well'>
      <i class="fa fa-google-plus"></i>
      <a href="{% url 'social:begin' 'google-oauth2' %}?next={% url 'website:home' %}">Login with Google</a>
    </div>
  {% endif %}
  </div>
</div>
{% endblock %}
