{% load url from future %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'fav.ico' %}">

    <title>{% block title %}(no title){% endblock %}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/jquery.cookie.js' %}"  type="text/javascript" charset="utf-8"></script>
    <!-- Bootstrap core CSS -->
    <!-- Latest compiled and minified CSS -->

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{% static 'css/sticky-footer-navbar.css' %}">
    <script type="text/javascript" src="{% static 'DataTables-1.10.7/media/js/jquery.dataTables.js' %}"></script>
    <script type="text/javascript" src="{% static 'DataTables-1.10.7/extensions/TableTools/js/dataTables.tableTools.js' %}"></script>
    <link rel="stylesheet" href="{% static 'DataTables-1.10.7/media/css/jquery.dataTables.css' %}"/>
    <link rel="stylesheet" href="{% static 'DataTables-1.10.7/media/css/jquery.dataTables_themeroller.css' %}"/>
    <link rel="stylesheet" href="{% static 'DataTables-1.10.7/extensions/TableTools/css/dataTables.tableTools.css' %}">
    <link rel="stylesheet" href="{% static 'css/warning_box.css' %}">
    <script type="text/javascript" src="{% static 'ace-builds/src/ace.js' %}"  type="text/javascript" charset="utf-8"></script>
    
    <!-- Make Favorites-->
    <script type="text/javascript" src="{% static 'js/favorites.js' %}"  type=" text/javascript" charset="utf-8"></script>
    <!--<link rel="stylesheet" href="{% static 'css/star.css' %}">-->
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">


    {% block style %}{% endblock %}

  </head>
  <body {% block body %}{% endblock %}>
    <!-- Static navbar -->
    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="{% url 'website:home' %}">SQLVIZ <sup><small>beta</small></sup></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
          {% block links %}
            {% url 'website:home' as home %}
            {% url 'website:query_interactive' as query_interactive %}
            {% url 'website:query' as query_url %}
            {% url 'ml:index' as ml_index %}


            <li 
            {% if request.path = home %}
              class="active"
            {% endif %}>
              <a href="{% url 'website:home' %}">Home</a>
            </li>
            {% if user.is_staff %}
              <li>
                <a href="{% url 'admin:index' %}">Admin</a>
              </li>
              {% if request.path != home and query_url in request.path and query_list.0.id %}
              <li class='active'>
                <a href="{% url 'admin:website_query_change' query_list.0.id %}">Edit</a>
              </li>
              {% else %}
              {% endif %}
              <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">More <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li role="presentation"
                  {% if request.path = query_interactive %}
                  class="active"
                  {% endif %}>
                  <a role="menuitem" tabindex="-1" href="{% url 'website:query_interactive' %}">Interactive Mode</a>
                </li>
                <li role="presentation"
                  {% if request.path = ml_index %}
                    class="active"
                  {% endif %}>
                <a role="menuitem" tabindex="-1" href="{% url 'ml:index' %}">Machine Learning</a></li>
              </ul>
            </li>
          </span>
            {% endif %}
          {% endblock links %}
          </ul>
          {% if user.is_authenticated %}
            <form class="navbar-form navbar-left" action='{% url 'website:home' %}' method = 'get'>
              <input class='form-control' type = 'text' name = 'q' id = 'q' value = '{{request.GET.q}}'></input>
              <button type = "submit" class = "btn btn-success">Search</button>
            </form>
          {% endif %}
          <ul class="nav navbar-nav navbar-right">
            {% if user.username %}
              <li>
                <a href="{% url 'accounts:logout_confirm' %}">
                  Username: {{ user.username }}
                </a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>

    <div class="container-fluid">
        {% block main %}(no content){% endblock main %}
    </div>
    <div class="footer">
      <div class="container">
        <p class="text-muted">
          <a href="http://github.com/sqlviz/">Copyright 2015 Matthew Feldman</a>
        </p>
      </div>
    </div>
  </body>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-55739949-1', 'auto');
    ga('send', 'pageview');
    </script>
</html>
