{% extends 'website/base.html' %}
{% load staticfiles %}

{% block title %} 
  Interactive Mode
{% endblock %}

{% block style %}
<style type="text/css" media="screen">
    #editor { 
        position: relative;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 480px;
        width: 480px;
        padding: 30px;
        clear:both;
        border-radius: 10px;
    }
    #close{
      float:right;
      position: absolute;
      right: 15px;
      top: 15px;
      width:30px;
      height:30px;
    }
</style>
{% endblock %}


{% block main %}

<script type="text/javascript" src="{% static 'js/make_chart.js' %}"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>

<script type="text/javascript" src="{% static 'Highcharts/js/highcharts.src.js' %}"></script>
<script type="text/javascript" src="{% static 'Highmaps/modules/map.js' %}"></script>
<script type="text/javascript" src="{% static 'Highmaps/modules/exporting.js' %}"></script>
<script src="{% static 'js/world-highres.js' %}"></script>


<div id='run_block'>
  <div class='jumbotron'>
    <h2>Interactive Query Mode</h2>
  </div>
    <div id='append_list'>
    </div>
  <form id='chart_data'>
    {% csrf_token %}
    <div class='row'>
      <div class='col-md-6'>
        <div id='editor'>select
  Pclass, sex, avg(survived) survival_rate
from
  test.titanic
group by
  Pclass, sex</div>
        </div>
      <div class='col-md-6'>
        <p>
            <h4>DB</h4>
            <select id="db">              
            {% for db in db_list%}
              <option value="{{db.id}}">{{db.name_long}}</option>
            {% endfor %}
          </select>
        </p>
        <p>
          <h4>Pivot </h4>
          <input type='radio' name='pivot' id='pivot' value='false' label='False' checked>False
          <input type='radio' name='pivot' id='pivot' value='true' label='True'>True
        </p>
        <p>
          <h4>Cumulative </h4>
          <input type='radio' name='cumulative' id='cumulative' value='false' label='False' checked>False
          <input type='radio' name='cumulative' id='cumulative' value='true' label='True'>True
        </p>
        <p>
          <h4>Graph</h4>
          <input type='radio' name='graph' id='graph' value='none' label='None' checked>None
          <input type='radio' name='graph' id='graph' value='line' label='Line'>Line
          <input type='radio' name='graph' id='graph' value='bar' label='Bar'>Bar
          <input type='radio' name='graph' id='graph' value='column' label='Column'>Column
          <input type='radio' name='graph' id='graph' value='scatter' label='Scatter'>Scatter
          <input type='radio' name='graph' id='graph' value='country' label='Scatter'>Country
        </p>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-12'>
        <button type="submit" class="btn btn-primary">Run</button>
      </div>
    </div>
  </form>
</div>
<script>
  // TODO function which grabs parts of form submission
  var editor = ace.edit("editor");
  editor.setTheme("ace/theme/clouds");
  editor.getSession().setMode("ace/mode/sql");
  
  // Start with error hidden
  $( "#error" ).hide();

  // Run once every time the submit button is pressed
  function send_data(foo){
    run_count = run_count + 1;
    //console.log("Run count : " + run_count);
    var graph =  $('input[id=graph]:checked', '#chart_data').val();
    var db = $("#db option:selected").val();
    var pivot = $('input[id=pivot]:checked', '#chart_data').val();
    var cumulative = $('input[id=cumulative]:checked', '#chart_data').val();
    var query_text = editor.getValue();
    data = {'pivot': pivot,
      'db' : db,
      'graph' : graph,
      'query_text': query_text,
      'cumulative': cumulative,
      'csrfmiddlewaretoken' : '{{ csrf_token }}'
    };
    var append_block = "<div class='col-md-12 well'  id ='block_" + run_count + "'>\
    <h3>Run " + run_count + "</h3>\
    <button  type='submit' class='glyphicon glyphicon-remove-circle close' id='close' run_count ='" + run_count + "'></button>\
    <div id ='div_table_table_" + run_count + "'></div>\
    <div id ='chart_" + run_count + "'></div>\
    <div id ='error_" + run_count + "' class = 'alert alert-error alert-block'><pre></pre>\
    </div><pre>" + query_text + "</pre></div>";

    $(document).ready(function(){
      $('#close').click(function(){
          $('#block_' + run_count).toggleClass('hide');
      });
    });
    $.post('{% url "website:query_interactive_api" %}',data, function( json_data ) {
      $("#append_list").append(append_block);
      if (json_data.error == false) {
        $("#error_" + run_count ).hide();
        make_table(json_data.data.columns, json_data.data.data, 'table_' + run_count);
        if (graph != 'none'){
          if (graph == 'country') {
            options = make_chart_country(json_data.data.columns, json_data.data.data, '{{query.title}}','custom/world')
            $('#chart_' + run_count).highcharts('Map', options);
          } else {
            options = make_chart(json_data.data.columns, json_data.data.data, 'chart_' + run_count, 'False', graph, 'Interactive Query Mode', 'xAxis Title', '' ,'False');
            var chart = new Highcharts.Chart(options);            
          }
        } else {
          $('#chart_' + run_count).empty();
        }
        
      } else {
        $("#error_" + run_count).show();
        $("#error_" + run_count + " pre").text(json_data.data);
      }
    }).fail(function() {
        $("#error_" + run_count).show();
        $("#error_" + run_count + " pre").text('Unknown Error Occured');
    });
    ;
  };
  var run_count = 0;
  $( "#chart_data" ).submit(function( event ) {
    send_data();
    event.preventDefault();
  });
// Hide group if the x button is clicked
$( "#append_list" ).on("click",'#close',function() {
  var close_block = '#block_' + $( this ).attr('run_count') ;
  $(close_block).hide(); 
});
</script>

<div id='db_explorer'>
  <form id='chart_data'>
    <div id='db_explorer_error' class = 'alert alert-error alert-block'>
    </div>
    {% csrf_token %}
    <div class='row'>
      <div class="col-md-3"><h3>DB Selector</h3><div id="db_selector"></div></div>
      <div class="col-md-3"><h3>Table Selector</h3><div id="table_selector"></div></div>
      <div class="col-md-6"><h3>Table Info</h3><div id="div_table_columns"></div></div>
    </div>
  </form>
</div>
<script>

function selectDB () {
  //alert($( this ).attr('db_id'));
  var con_id = $("#db option:selected").val();
  //var con_id = $( this ).attr('con_id')
  var data = {'con_id': con_id}
  //console.log(data);
  $.get('{% url "website:database_explorer_api" %}',data, function( json_data ) {
    if (json_data.error == true) {
      console.log(json_data);
      $("#db_explorer_error").text(json_data.data);
      $("#db_explorer_error").show();
    } else {
      $("#db_explorer_error").hide();
      html = '';
      //console.log(json_data);
      $.each(json_data.data.data, function(key, val) {
        html += "<ul class='db list-group-item' con_id='"+con_id +"' db_id='" + val + "'><a href='#' onClick='return false;'>" + val + "</a></ul>\n";
      });
      $('#db_selector').html(html);
      $('#table_selector').empty();
      $('#div_table_columns').empty();
    }
  }).fail(function() {
    $("#db_explorer_error").text('Unknown Error Occured');
    $("#db_explorer_error").show()
  });
}
$( "select" ).change(function () {
  event.preventDefault(); // prevents scrolling up
  selectDB();
});
selectDB(); // Trigger DB select on page load
// run if the db is hit
$( "#db_explorer" ).on("click",'.db',function() {
  //alert($( this ).attr('db_id'));
  event.preventDefault(); // prevents scrolling up
  var db_id = $( this ).attr('db_id')
  var con_id = $( this ).attr('con_id')
  var data = {'db_id': db_id, 'con_id' : con_id}
  //console.log(data);
  $.get('{% url "website:database_explorer_api" %}',data, function( json_data ) {
    console.log(json_data)
    if (json_data.error == true) {
      $("#db_explorer_error").text(json_data.data);
      $("#db_explorer_error").show();
    } else {
      $("#db_explorer_error").hide();
      html = '';
      //console.log(json_data.data.data);
      $.each(json_data.data.data, function(key, val) {
        html += "<ul class='table list-group-item' db_id='" + db_id + "' con_id='" + con_id + "' table_id='" + val + "'><a href='#' onClick='return false;'>" + val + "</a></ul>\n";
      });
      $('#table_selector').html(html);
      $('#div_table_columns').empty();      
    }
  }).fail(function() {
    $("#db_explorer_error").text('Unknown Error Occured');
    $("#db_explorer_error").show()
  });
});

// Run if the table is hit
$( "#db_explorer" ).on("click",'.table',function() {
  //alert($( this ).attr('db_id'));
  event.preventDefault(); // prevents scrolling up
  var db_id = $( this ).attr('db_id')
  var con_id = $( this ).attr('con_id')
  var table_id = $( this ).attr('table_id')
  var data = {'db_id': db_id, 'con_id' : con_id,'table_id': table_id}
  //console.log(data);
  $.get('{% url "website:database_explorer_api" %}',data, function( json_data ) {
    make_table(json_data.data.columns,json_data.data.data, 'columns')
  });
});
</script>

{% endblock %}
