{% extends 'website/base.html' %}

{% load staticfiles %}

{% block title %} 
  {% if query_list %}
    {% for query in query_list %}  
      {{query.title}}
    {% endfor %}
  {% else %}
      No Matched Query
  {% endif %}  
{% endblock %}
{% block style %}
<script type="text/javascript" src="{% static 'js/make_chart.js' %}"></script>
<link type="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
<!-- For country charts -->
<script type="text/javascript" src="{% static 'Highcharts/js/highcharts.src.js' %}"></script>
<script type="text/javascript" src="{% static 'Highmaps/modules/map.js' %}"></script>
<script type="text/javascript" src="{% static 'Highmaps/modules/exporting.js' %}"></script>
<script src="{% static 'js/world-highres.js' %}"></script>
<style type="text/css" media="screen">
    ul.nav-tabs {
      width: 140px;
      margin-top: 20px;
      border-radius: 4px;
      border: 1px solid #ddd;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    }
    ul.nav-tabs li {
      margin: 0;
      border-top: 1px solid #ddd;
    }
    ul.nav-tabs li:first-child {
      border-top: none;
    }
    ul.nav-tabs li a {
      margin: 0;
      padding: 8px 16px;
      border-radius: 0;
    }
    ul.nav-tabs li.active a, ul.nav-tabs li.active a:hover {
      color: #fff;
      background: #0088cc;
      border: 1px solid #0088cc;
    }
    ul.nav-tabs li:first-child a {
      border-radius: 4px 4px 0 0;
    }
    ul.nav-tabs li:last-child a {
      border-radius: 0 0 4px 4px;
    }
    ul.nav-tabs.affix {
      top: 30px; /* Set the top position of pinned element */
    }
</style>
{% endblock %}

{% block body %}
  data-spy="scroll" data-target="#myScrollspy"
{% endblock %}


{% block main %}
  <script>
    make_favorites('{% url 'favs:add' %}','{% url 'favs:remove' %}');
  </script>  
  <script>
  jQuery.escapeSelector = function(str) {
    return str.replace(/[!"#$%&'()*+,./:;<=>?@\[\\\]^`{|}~]/g, "\\$&");
  }
  </script>
  <div class='col-xs-9 content' role='main'>
  {% if query_list %}
    {% for query in query_list %}    
      <section class='well' id='div_{{query.id}}'>
        <h2>
          <div class='inline'>
            <a object_id ='{{query.id}}' target_model='website.Query' href='javascript:' class='star {% if query.fav %}favorite{% endif %}'>
              {{query.fav}}
            </a>
            {{query.title}}
          </div>
        </h2>
        <div class='hide_{{query.id}}'>
          <div id='div_table_{{query.id}}'></div>
          <div id="waiting_{{query.id}}"><img src='{% static 'ajax-loader.gif' %}'>
          </div>
          <div id="error_{{query.id}}" class = "alert alert-error alert-block">
            <pre></pre>
          </div>
        </div>
        <div id ='chart_{{query.id}}'></div>
        <ul class='hide_{{query.id}}'>
          <li><a href="{% url 'admin:website_query_change' query.id %}">Edit</a></li>
          <li><a href="mailto:{{query.owner.email}}">{{query.owner}}</a></li>
          <li>Description Short: {{query.description}}</li>
          {% if query.description_long %}
          <li>Description Long: {{query.description_long}}</li>
          {% endif %}
          <li>Query Text: <div id='sql_{{query.id}}'><pre>{{query.query_text}}</pre>  </div></li>
          <li>Query Creation: {{query.create_time}}</li>
          <li>Query Last Modified: {{query.modified_time}}</li>
          <li>Database: {{query.db}}</li>
          <li id='execution_info_{{query.id}}'></li>
        </ul>

          <div id='ml_section' class='hide'>
            <h3>Machine Learning Models</h3>
            {% if query.ml %}
              {% for ml_i in query.ml %}
              <h4> Static Models</h4>
                  <button type="submit" id="ml_{{ml_i.id}}" class="btn btn-info">
                    {{ml_i}}
                  </button>
              <script>
                $(document).ready(function() {
                  $('#ml_{{ml_i.id}}').click(function() {
                    $.getJSON('{% url "ml:build_model" ml_i.id  %}', {{json_get|safe}}, function( json_data ) {
                        return_str = ''
                        $.each( json_data.data, function( key, value ) {
                          return_str = return_str + '\n' +  key + ' \n' + value;
                        });
                        $("#ml_output_{{query.id}}").text(return_str);
                        $("#ml_output_{{query.id}}").removeClass("hide");
                    }).fail(function() {
                      alert('oops');
                    })
                  })
                })
              </script>
            {% endfor %}
          {% endif %}
          <h4> ad hoc model</h4>
          <form id='ml_adhoc_{{query.id}}' class="input-group">
              <select class="form-control" id="column_names_{{query.id}}">
              </select>
              <select class="form-control" id="model_type_{{query.id}}">
                <option value="linear">Linear Regression</option>
                <option value="logistic">Logistic Regression</option>
                <option value="tree">Decision Tree</option>
                <option value="kmeans">K-Means</option>
              </select>
              <button type="submit" class="btn btn-info">Run ML Model</button>
              <script>
                $(document).ready(function() {
                  $('#toggle_{{query.id}}').click(function() {
                    $(".hide_{{query.id}}").toggleClass("hide");
                    if ($.trim($(this).text()) === 'Hide') {
                      $(this).text('Show');
                    } else {
                      $(this).text('Hide');
                    }
                  });
                });
              </script>
          </form>
          <pre id='ml_output_{{query.id}}' class='hide'></pre>
        </div>          
        <br />
        <button type="submit" id="toggle_{{query.id}}" class="btn btn-info">
          Hide
        </button>
      </section>
      <script>
$(document).ready(function(){      
  $( "#ml_adhoc_{{query.id}}").submit(function( event ) {
    //alert('test!');
    event.preventDefault();
    send_data_ml_adhoc('{{query.id}}','ml_output_{{ml_i.id}}');
  });
});
      </script>
      <script>
        $( "#error_{{query.id}}" ).hide();
        $.getJSON('{% url "website:query_api" query.id %}', {{json_get|safe}}, function( json_data ) {
          $( "#waiting_{{query.id}}" ).empty();
          if (json_data.error == false){
            if ('{{query.hide_table}}' ==  'False') {
              make_table(json_data.data.columns, json_data.data.data, '{{query.id}}');  
            }
            if ('{{query.chart_type}}' == 'country'){
              options = make_chart_country(json_data.data.columns, json_data.data.data, '{{query.title}}','custom/world')
              $('#chart_' + {{query.id}}).highcharts('Map', options);
            }
            else if ('{{query.chart_type}}' != 'None'){
              options = make_chart(json_data.data.columns, json_data.data.data, 'chart_{{query.id}}', '{{query.stacked}}', '{{query.chart_type}}', '{{query.title}}', 'Xaxis Title', 'yAxis Title' ,'{{query.log_scale_y}}',{{query.graph_extra|safe|default:"{}" }});
                var chart = new Highcharts.Chart(options);
            };
            $( "#execution_info_{{query.id}}").text("Cache Status : " + json_data.cached + " Run Time : " + json_data.time_elapsed + ' seconds');
            $('#ml_section').removeClass('hide');
            // Make drop downs in ML based on Columns
            console.log(json_data.data.columns);
            var mySelect = $("#column_names_{{query.id}}");
            $.each(json_data.data.columns, function(idx, colname) {
                mySelect.append(
                  $('<option></option>').val(colname).html(colname)
                );
            });
          } else {
            $( "#error_{{query.id}}" ).show();
            $( "#error_{{query.id}} pre" ).text(json_data.data);
          }
        }).fail(function() {
          $( "#waiting_{{query.id}}" ).empty();
          $( "#error_{{query.id}}" ).show();
          $( "#error_{{query.id}} pre" ).text('Unknown Error Occured');
        });
      </script>
    {% endfor %}
  {% else %}
      <h3 class='label-danger'>No Queries found with that namespace or permission denied.  Are you sure it is there?</h3>
  {% endif %}
  {% if replacement_dict %}
    <section class='well' id='parameters_insert'>
      <h3>Re-Run with Parameters</h3>
      <form action ='{{request.path}}' method='GET'>
        {% for key, default_dict in replacement_dict.items %}
          {% if default_dict.data_type == 'Date' %}
            {# DATEPICKER #}
            <p> {{default_dict.search_for}} 
            <input type="text" class="" value="{{default_dict.replace_with}}" id="selector_{{default_dict.search_for}}" label="{{default_dict.search_for}}"
            name = "{{default_dict.search_for}}"
            >
            </p>
          <script>
            $(function(){
              $('#selector_' +  $.escapeSelector('{{default_dict.search_for}}')).datepicker({ dateFormat: 'yy-mm-dd' });
            });
          </script>
          {% elif default_dict.data_type == 'Numeric' %}
            {# NUMERIC #}
            <p> {{default_dict.search_for}}
              <input type="range" class="" value="{{default_dict.replace_with}}" min=-1000 max=1000 id="selector_{{default_dict.search_for}}" label="{{default_dict.search_for}}" name = "{{default_dict.search_for}}">
            </p>
          {% else %}
            {# STRING #}
            <p> {{default_dict.search_for}}
              <input type="text" class="" value="{{default_dict.replace_with}}" id="selector_{{default_dict.search_for}}" label="{{default_dict.search_for}}" name = "{{default_dict.search_for}}">
            </p>
          {% endif %}
        {% endfor %}
        <input type="submit" class='btn btn-primary' value="Submit"/>
        </form>
      </section>
    {% else %}
      No Defaults Found
    {% endif %}
  </div>
  {% if query_list %}
    <div class="col-xs-3 hidden-sm hidden-xs" id="myScrollspy">
      <ul class="nav nav-tabs nav-stacked affix-top" data-spy="affix" data-offset-top="200">
        {% for query in query_list %}
          <li>
            <a href="#div_{{query.id}}"
            {% if query == query_list|first %}
              class='active'
            {% endif %}
            >{{query.title}}</a>
          </li>
        {% endfor %}
        {% if replacement_dict %}
          <li>
            <a href="#parameters_insert">Parameters</a>
          </li>
        {% endif %}
      </ul>
    </div>
  {% endif %}
<script>
  function send_data_ml_adhoc(query_id, destination_div){
    // TODO make sure that get parameters are used here!
    var model_type = $("#model_type_" + query_id + " option:selected").val();
    var target_column = $("#column_names_" + query_id + " option:selected").val();
    // TODO use http://api.jquery.com/serialize/
    var str = $( "#ml_adhoc_"+query_id ).serialize();
    data = {'query_id': query_id,
      'model_type' : model_type,
      'target_column' : target_column,
    };
    console.log(data)
    console.log(str)
    $.get('{% url "ml:build_model_adhoc" %}',data, function( json_data ) {
      return_str = ''
      $.each( json_data.data, function( key, value ) {
        return_str = return_str + '\n' +  key + ' \n' + value;
      });
      $("#ml_output_" + query_id).text(return_str);
      $("#ml_output_" + query_id).removeClass("hide");
    }).fail(function() {
        alert('oops');
    });
    ;
  };
</script>  
{% endblock %}
