{% extends 'website/base.html' %}

{% load staticfiles %}
{% load comments %}

{% block title %} 
  {% if query_list %}
    {% for query in query_list %}  
      {{query.title}}
    {% endfor %}
  {% else %}
      No Matched Query
  {% endif %}  
{% endblock %}

{% block body %}
  data-spy="scroll" data-target="#myScrollspy"
{% endblock %}


{% block main %}
  <div class='col-xs-9 content' role='main'>
  {% if dashboard %}
    <section class='well' id='dash_data'>

      <h2><a object_id ='{{dashboard.id}}' target_model='website.Dashboard' href='javascript:' class='fa {% if dashboard.fav %}fa-star{% else %}fa-star-o{% endif %}'>
      </a>{{dashboard.title}}</h2>
    <div class='inline'>
      <p>
        {{dashboard.description}}
        {{dashboard.description_long}}
      </p>
    </div>
    </section>

    
  {% endif %}
  {% if query_list %}
    {% for query in query_list %}    
      <section class='well' id='div_{{query.id}}'>
        <h2>
          <div class='inline'>
            {% include "website/_favorite_button.html" %}
            </a>
            {{query.title}}
          </div>
        </h2>
        <div id="waiting_{{query.id}}">
          <i class="fa fa-circle-o-notch fa-spin"></i>
        </div>
        <div class='hide_{{query.id}}'>
          <div id="error_{{query.id}}" class = "alert alert-error alert-block">
            <pre></pre>
          </div>
        </div>
        <div role="tabpanel" id="ready_{{query.id}}">
          <!-- Nav tabs -->
          <ul class="nav nav-pills" role="tablist">
            <li role="presentation" class="active"><a href="#description_{{query.id}}" aria-controls="settings" role="tab" data-toggle="tab">Description</a></li>
            {% if query.chart_type != "None" %}
              <li role="presentation" class="hide"><a href="#graph_{{query.id}}" aria-controls="graph_{{query.id}}" role="tab" data-toggle="tab">Graph</a></li>
            {% endif %}
            <li role="presentation" class="hide"><a href="#tab_table_{{query.id}}" aria-controls="tab_table_{{query.id}}" role="tab" data-toggle="tab">Table</a></li>
            <li role="presentation" class="hide"><a href="#pivot_{{query.id}}" aria-controls="pivot_{{query.id}}" role="tab" data-toggle="tab">Pivot</a></li>
            <li role="presentation" class="hide"><a href="#ml_{{query.id}}" aria-controls="settings" role="tab" data-toggle="tab">Regression</a></li>
          </ul>
        </div>
          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane" id="graph_{{query.id}}">
              <div id='chart_{{query.id}}'></div>
            </div>
            <div role="tabpanel" class="tab-pane" id="tab_table_{{query.id}}">
              <div id='div_table_{{query.id}}'></div>
            </div>
            <div role="tabpanel" class="tab-pane" id="pivot_{{query.id}}">
              <div id='div_pivot_{{query.id}}'></div>
            </div>

            <div role="tabpanel" class="tab-pane" id="ml_{{query.id}}">
              <div id='ml_section'>
                <h3>Machine Learning Models</h3>
                {% if query.ml %}
                  {% for ml_i in query.ml %}
                    <h4> Static Models</h4>
                    <button type="submit" id="ml_{{ml_i.id}}" class="btn btn-info">
                      {{ml_i}}
                    </button>
                  {% endfor %}
                {% endif %}
                <h4> ad hoc model</h4>
                  <form id='ml_adhoc_{{query.id}}' class="input-group">
                    <select class="form-control" id="column_names_{{query.id}}">
                    </select>
                    <select class="form-control" id="model_type_{{query.id}}">
                      <option value="linear">Linear Regression</option>
                      <option value="logistic">Logistic Regression</option>
                      <option value="tree">Decision Tree</option>
                      <option value="kmeans">K-Means</option>
                    </select>
                    <button type="submit" class="btn btn-info">Run ML Model</button>
                  </form>
                  <pre id='ml_output_{{query.id}}' class='hide'></pre>
                </div> 
              </div>
              <div role="tabpanel" class="tab-pane active" id="description_{{query.id}}">

                <ul>
                  <li>{{query.description}}</li>
                  {% if user.is_staff %}
                    <form action="{% url 'admin:website_query_change' query.id %}">
                      <button type="submit" class="btn btn-info">
                        Edit
                      </button>
                    </form>
                  {% endif %}
                  <li><a href="mailto:{{query.owner.email}}">{{query.owner}}</a></li>
                  {% if query.description_long %}
                    <li>Description Long: {{query.description_long}}</li>
                  {% endif %}
                  <li>Query Text:
                    <div id='sql_{{query.id}}'>
                      <pre>{{query.query_text}}</pre>
                    </div>
                  </li>
                  <li>Query Creation: {{query.create_time}}</li>
                  <li>Query Last Modified: {{query.modified_time}}</li>
                  <li>Database: {{query.db}}</li>
                  <!--<li id='execution_info_{{query.id}}'></li>-->
                  {% include "website/_tags.html" %}
                  {% render_comment_list for query %}

                  {% if user.is_staff %}
                    {% get_comment_form for query as form %}
                      <div class="form-group">
                        <form action="{% comment_form_target %}" method="POST">

                        {% csrf_token %}
                        <input type="text" class="form-control" id="id_comment" maxlength="3000" name="comment" placeholder="Comment Here">
                        {{ form.content_type }}
                        {{ form.object_pk }}
                        {{ form.timestamp }}
                        {{ form.security_hash }}
                        <input type="hidden" name="next" value="{% url 'website:query' query.id %}" />
                      </br>
                        <input type="submit" class="btn btn-default" value="Add comment" id="id_submit" />
                    </form>
                    </div>
                {% endif %}

                  
                </ul>
              </div>
            </div>
      </section>
      
    {% endfor %}
  {% else %}
      <h3 class='label-danger'>No Queries found with that namespace or permission denied.  Are you sure it is there?</h3>
  {% endif %}
  {% if replacement_dict %}
    <section class='well' id='parameters_insert'>
      <h3>Re-Run with Parameters</h3>
      <form action ='{{request.path}}' method='GET'>
        {% for key, default_dict in replacement_dict.items %}
          {% if default_dict.data_type == 'Date' %}
            {# DATEPICKER #}
            <p> {{default_dict.search_for}} 
            <input type="text" class="" value="{{default_dict.replace_with}}" id="selector_{{default_dict.search_for}}" label="{{default_dict.search_for}}"
            name = "{{default_dict.search_for}}"
            >
            </p>
          {% elif default_dict.data_type == 'Numeric' %}
            {# NUMERIC #}
            <p> {{default_dict.search_for}}
              <input type="range" class="" value="{{default_dict.replace_with}}" min=-1000 max=1000 id="selector_{{default_dict.search_for}}" label="{{default_dict.search_for}}" name = "{{default_dict.search_for}}">
            </p>
          {% else %}
            {# STRING #}
            <p> {{default_dict.search_for}}
              <input type="text" class="" value="{{default_dict.replace_with}}" id="selector_{{default_dict.search_for}}" label="{{default_dict.search_for}}" name = "{{default_dict.search_for}}">
            </p>
          {% endif %}
        {% endfor %}
        <input type="submit" class='btn btn-primary' value="Submit"/>
        </form>
      </section>
    {% else %}
      No Defaults Found
    {% endif %}
  </div>
  {% if query_list %}
    <div class="col-xs-3 hidden-sm hidden-xs" id="myScrollspy">
      <ul class="nav nav-tabs nav-stacked affix-top" data-spy="affix" data-offset-top="200">
        {% for query in query_list %}
          <li>
            <a href="#div_{{query.id}}"
            {% if query == query_list|first %}
              class='active'
            {% endif %}
            >{{query.title}}</a>
          </li>
        {% endfor %}
        {% if replacement_dict %}
          <li>
            <a href="#parameters_insert">Parameters</a>
          </li>
        {% endif %}
      </ul>
    </div>
  {% endif %}
{% endblock %}

{% block style %}
{{ block.super }}
<!--<link type="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">-->
<link rel="stylesheet" type="text/css" href="{% static 'pivottable/pivot.css' %}"></link>

<style type="text/css" media="screen">
    ul.nav-tabs {
      width: 140px;
      margin-top: 20px;
      border-radius: 4px;
      border: 1px solid #ddd;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    }
    ul.nav-tabs li {
      margin: 0;
      border-top: 1px solid #ddd;
    }
    ul.nav-tabs li:first-child {
      border-top: none;
    }
    ul.nav-tabs li a {
      margin: 0;
      padding: 8px 16px;
      border-radius: 0;
    }
    ul.nav-tabs li.active a, ul.nav-tabs li.active a:hover {
      color: #fff;
      background: #0088cc;
      border: 1px solid #0088cc;
    }
    ul.nav-tabs li:first-child a {
      border-radius: 4px 4px 0 0;
    }
    ul.nav-tabs li:last-child a {
      border-radius: 0 0 4px 4px;
    }
    ul.nav-tabs.affix {
      top: 30px; /* Set the top position of pinned element */
    }
</style>
{% endblock %}

{% block javascript %}
{{ block.super }}
<script type="text/javascript" src="{% static 'js/make_chart.js' %}"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<!-- For country charts -->
<script type="text/javascript" src="{% static 'Highcharts/js/highcharts.src.js' %}"></script>
<script type="text/javascript" src="{% static 'Highmaps/modules/map.js' %}"></script>
<script type="text/javascript" src="{% static 'Highmaps/modules/exporting.js' %}"></script>
<script src="{% static 'js/world-highres.js' %}"></script>
<script src="{% static 'js/website_query.js' %}"></script>
<!--<script src="//cdn.datatables.net/plug-ins/1.10.6/sorting/percent.js"></script>
<script src="//cdn.datatables.net/plug-ins/1.10.6/sorting/currency.js"></script>-->
<script type="text/javascript" src="{% static 'pivottable/pivot.js' %}"></script>
<script>
  make_favorites('{% url 'favs:add' %}','{% url 'favs:remove' %}');
</script>
{% if query_list %}
  {% for query in query_list %}
    <script>
    display_data({{query.id}}, '{% url "website:query_api" query.id %}',  {{json_get|safe}}, '{{query.hide_table}}', '{{query.chart_type}}', '{{query.title}}', '{{query.stacked}}', '{{query.log_scale_y}}', '{{query.graph_extra|safe}}')
    </script>
    <script>
      $(document).ready(function(){
        $( "#ml_adhoc_{{query.id}}").submit(function( event ) {
          //alert('test!');
          event.preventDefault();
          send_data_ml_adhoc('{{query.id}}', '{% url "ml:build_model_adhoc" %}','ml_output_{{ml_i.id}}');
        });
      });
    </script>
    {% if query.ml %}
      {% for ml_i in query.ml %}
        <script>
          make_adhoc_model({{ml_i.id}},
              '{% url "ml:build_model" ml_i.id  %}',
              {{json_get|safe}}, {{query.id}});
        </script>
      {% endfor %}
    {% endif %}
  {% endfor %}
{% endif %}
<script>
  make_date_picker('{{default_dict.search_for}}');
</script>
{% endblock javascript %}
