{% extends 'website/base.html' %}


{% block title %} Chartly Homepage {% endblock %}
{% load staticfiles %}
{% block style %}

{% endblock %}
{% block main %}
{% if query_list or dashboard_list %}
    <table id='query_list_table' class="table table-striped dataTable">
      <thead>
        <tr>
          <td> ID </td>
          <td> Fav </td>
          <td> Title </td>
          <td> Type </td>
          <td> Created </td>
          <td> Description </td>
          <td> Owner </td>
          <td> Target DB </td>
          <td> Chart </td>
          <td> Tags </td>
        </tr>
      </thead>
      <tbody>
        {% for query in query_list %}
        <tr>
          <td> Q{{query.id}} </td>
          <td> <a id='{{query.id}}' target_model='website.Query' href='javascript:' class='star {% if query.fav %}favorite{% endif %}'>{{query.fav}} </a> </td>
          <td> <a href="{% url 'website:query' query.id %}">{{query.title}} </a></td>
          <td> Query </td>
          <td> {{query.create_time}} </td>
          <td> {{query.description}}  {{query.description_long}}</td>
          <td> {{query.owner}} </td>
          <td> {{query.database}} </td>
          <td> {{query.chart_type}} </td>
          <td> {{query.tags.names|join:", " }} </td>
        </tr>   
        {% endfor %}
        {% for dash in dashboard_list %}
          <tr>
          <td> D{{dash.id}} </td> 
          <td> <a id='{{dash.id}}' target_model='website.Dashboard' href='javascript:' class='star {% if dash.fav %}favorite{% endif %}'>{{dash.fav}}</a> </td>
          <td> <a href="{% url 'website:dashboard' dash.id %}">{{dash.title}} </a></td>
          <td> Dashboard </td>
          <td> {{dash.create_time}} </td>
          <td> {{dash.description}}  {{dash.description_long}}</td>
          <td> {{dash.owner}} </td>
          <td>  </td>
          <td>  </td>
          <td>  {{ dash.tags.names|join:", " |truncatechars_html:4 }} </td>
        </tr>  
        </tr>      
        {% endfor %}        
      </tbody>
    </table>
    <script>
    $(document).ready(function() {
      $('#query_list_table').dataTable({
         "bAutoWidth": false,
         "bScrollCollapse": true,
         "iDisplayLength": 100,

          "tableTools": {
            "sSwfPath": "{% static 'DataTables-1.10.2/extensions/TableTools/swf/copy_csv_xls_pdf.swf' %}"
        }
      });
    } );
    </script>
    <script>
      make_favorites('{% url 'favs:add' %}','{% url 'favs:remove' %}');
    </script>
{% else %}
    <p>No Queries or Dashboards are available.</p>
{% endif %}
{% endblock %}

