{% extends 'website/base.html' %}
{% load staticfiles %}

{% block title %} 
  Interactive Mode
{% endblock %}

{% block style %}
<style type="text/css" media="screen">
    #editor { 
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 150px;
        width: 400px;
    }
</style>
{% endblock %}
{% block links %}
  <li><a href="/">Home</a></li>
  <li><a href="/admin/">Admin</a></li>
  <li><a href="">Edit</a></li>
  <li class="active"><a href="/website/query_interactive/">Interactive Mode</a></li>
</ul>
{% endblock %}

{% block main %}

<script type="text/javascript" src="{% static 'js/make_chart.js' %}"></script>
<script type="text/javascript" src="{% static 'Highcharts-4.0.3/js/highcharts.js' %}"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
<!-- TODO FIX CSS BUG HERE -->

<div id='run_block'>
  <div class='jumbotron'>
    <h2>Interactive Query Mode</h2>
  </div>
    <div id='append_list'>
    </div>
  <form id='chart_data'>
    {% csrf_token %}
    <div class='row'>
      <div class='col-md-6'>
        <div id='editor'>select
  Pclass, sex, avg(survived) survival_rate
from
  test.titanic
group by
  Pclass, sex</div>
        </div>
      <div class='col-md-6'>
        <p>
            <h4>DB</h4>
            <select id="db">              
            {% for db in db_list%}
              <option value="{{db.id}}">{{db.name_long}}</option>
            {% endfor %}
          </select>
        </p>
        <p>
          <h4>Pivot </h4>
          <input type='radio' name='pivot' id='pivot' value='false' label='False' checked>False
          <input type='radio' name='pivot' id='pivot' value='true' label='True'>True
          
        </p>
        <p>
          <h4>Graph</h4>
          <input type='radio' name='graph' id='graph' value='none' label='None' checked>None
          <input type='radio' name='graph' id='graph' value='line' label='Line'>Line
          <input type='radio' name='graph' id='graph' value='bar' label='Bar'>Bar
          <input type='radio' name='graph' id='graph' value='column' label='Column'>Column
          <input type='radio' name='graph' id='graph' value='scatter' label='Scatter'>Scatter
        </p>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-12'>
        <button type="submit" class="btn btn-primary">Run</button>
      </div>
    </div>
  </form>
</div>
<script>
  // TODO function which grabs parts of form submission
  var editor = ace.edit("editor");
  editor.setTheme("ace/theme/clouds");
  editor.getSession().setMode("ace/mode/sql");
  
  // Start with error hidden
  $( "#error" ).hide();

  // Run once every time the submit button is pressed
  function send_data(foo){
    run_count = run_count + 1;
    console.log("Run count : " + run_count);
    var graph =  $('input[id=graph]:checked', '#chart_data').val();
    var db = $("#db option:selected").val();
    var pivot = $('input[id=pivot]:checked', '#chart_data').val();
    var query_text = editor.getValue();
    data = {'pivot': pivot,
      'db' : db,
      'graph' : graph,
      'query_text': query_text,
      'csrfmiddlewaretoken' : '{{ csrf_token }}'
    };
    //console.log(data);
    var append_block = "<h3>Run " + run_count + "</h3><div class='col-md-12 jumbotron'  id ='block_" + run_count + "'><div id ='div_table_table_" + run_count + "'></div><div id ='chart_" + run_count + "'></div><div id ='error_" + run_count + "' class = 'alert alert-error alert-block'><pre></pre></div><pre>" + query_text + "</pre></div>";
    $.post('/query_interactive_api/',data, function( json_data ) {
      $("#append_list").append(append_block);
      //TODO add URL reverse here
      console.log(json_data);
      console.log('chart_{{query.id}}');
      if (json_data.error == false) {
        $("#error_" + run_count ).hide();
        make_table(json_data.data.columns, json_data.data.data, 'table_' + run_count);
        if (graph != 'none'){
          make_chart(json_data.data.columns, json_data.data.data, 'chart_' + run_count, 'False', graph, 'Interactive Query Mode', 'xAxis Title', 'yAxis Title' ,'False');  
        } else {
          $('#chart_' + run_count).empty();
        }
        
      } else {
        $("#error_" + run_count).show();
        $("#error_" + run_count + " pre").text(json_data.data);
      }
    });
  };
  var run_count = 0;
  $( "#chart_data" ).submit(function( event ) {
    send_data();
    event.preventDefault();
  });

</script>    
{% endblock %}