.star {
     text-indent: -5000px;
     display: block;
     /*background: transparent url(../images/star.png) [coords for empty star];*/
     background-color: red;
     height: 20px;
     width: 20px;
     background-repeat: False;
}

.star.favorite {
     /*background-position: [coordinates for favorited star];*/
     background-color: blue;
}
