{% extends 'website/base.html' %}
{% load staticfiles %}


{% block title %} 
{% if query_list %}
  {% for query in query_list %}  
  {{query.title}}
  {% endfor %}
{% else %}
    No Matched Query
{% endif %}  
  {% endblock %}

          
          {% block links %}
            <li ><a href="/">Home</a></li>
            <li><a href="">Query Live</a></li>
            <li><a href="/admin/">Admin</a></li>
            <li class="active"><a href="/admin/website/query/{% with query_list|first as first_query %}{{ first_query.id }}{% endwith %}">Edit</a></li>
          </ul>
          {% endblock %}

{% block main %}
<script type="text/javascript" src="{% static 'js/make_chart.js' %}"></script>
<script type="text/javascript" src="{% static 'Highcharts-4.0.3/js/highcharts.js' %}"></script>
<!--<script type="text/javascript" src="{% static 'datepicker/js/bootstrap-datepicker.js' %}"></script>
<link rel="stylesheet" href="{% static 'datepicker/css/datepicker.css' %}"/>-->
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
<div id='sortable'>
{% if query_list %}
  {% for query in query_list %}  
    <div class='jumbotron' id='div_{{query.id}}'>
    <h2>{{query.title}}</h2>
    <table class='table table-striped' id = 'table_{{query.id}}'></table>
    <div id ='chart_{{query.id}}'></div>
      <ul>
        <li><a href="mailto:{{query.owner.email}}">{{query.owner}}</a></li>
        <li>Description Short:{{query.description}}</li>
        <li>Description Long: {{query.description_long}}</li>
        <li>Query Text:{{query.query_text}}</li>
        <li>Query Creation: {{query.create_time}}</li>
        <li>Query Last Modified: {{query.modified_time}}</li>
        <li>Database: {{query.database}}</li>
      </ul>
    </div>
    <script>

    $.getJSON('/query_api/{{query.id}}', {{json_get|safe}}, function( json_data ) { //TODO add URL reverse here
      console.log(json_data);
      console.log('chart_{{query.id}}');
      if ('{{query.hide_table}}' ==  'False') {
        make_table(json_data.data.columns, json_data.data.data, '#table_{{query.id}}');  
      }
      if ('{{query.chart_type}}' != 'None'){
        make_chart(json_data.data.columns, json_data.data.data, 'chart_{{query.id}}', '{{query.stacked}}', '{{query.chart_type}}', '{{query.title}}', 'Xaxis Title', 'yAxis Title' ,'{{query.log_scale_y}}');
        };      
      });
    </script>
      <!--<script>
  $(function() {
    $( "#div_{{query.id}}" ).draggable();
  });
  </script>-->
  {% endfor %}
{% else %}
    <h3 class='label-danger'>Nothing matches that descriptions.  Are you sure it is there?</h3>
{% endif %}
</div>
 <!--<script>
  $(function() {
    $( "#sortable" ).sortable();
    $( "#sortable" ).disableSelection();
  });
  </script>-->
 <!--<script>
  $(function() {
    $( "#accordion" ).accordion({
      heightStyle: "content"
    });
  });
  </script>-->
{% if replacement_dict %}
<div class='jumbotron'>
  <form action ='{{request.path}}' method='GET'>
  {% for key, default_dict in replacement_dict.items %}
    {%if default_dict.data_type = 'Date' %}
    <h3>Rerun with Parameters </h3>
      {# DATEPICKER #}
            <p> {{default_dict.search_for}} 
            <input type="text" class="" value="{{default_dict.replace_with}}" id="selector_{{default_dict.search_for}}" label="{{default_dict.search_for}}"
            name = "{{default_dict.search_for}}"
            >
            </p>
      <script>
        $(function(){
          $('#selector_{{default_dict.search_for}}').datepicker({ dateFormat: 'yy-mm-dd' });
        });
      </script>
    {% elif default_dict.data_type == 'Numeric' %}
      {# NUMERIC #}
      <p> {{default_dict.search_for}}
        <input type="range" class="" value="{{default_dict.replace_with}}" min=-1000 max=1000 id="selector_{{default_dict.search_for}}" label="{{default_dict.search_for}}" name = "{{default_dict.search_for}}"></p>
    {% else %}
      {# STRING #}
        <p> {{default_dict.search_for}}
          <input type="text" class="" value="{{default_dict.replace_with}}" id="selector_{{default_dict.search_for}}" label="{{default_dict.search_for}}" name = "{{default_dict.search_for}}">
        </p>
    {% endif %}

  {% endfor %}
    <input type="submit" class='btn btn-primary' value="Submit"/>
    </form>
  </div>

{% else %}
 No Defaults Found
 {% endif %}
{% endblock %}

